<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jrry.sys.mapper.GroupMapper">
  <resultMap id="BaseResultMap" type="cn.jrry.sys.domain.Group">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="viewname" jdbcType="VARCHAR" property="viewname" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="cruser" jdbcType="VARCHAR" property="cruser" />
    <result column="crtime" jdbcType="TIMESTAMP" property="crtime" />
    <result column="mduser" jdbcType="VARCHAR" property="mduser" />
    <result column="mdtime" jdbcType="TIMESTAMP" property="mdtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_group
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.jrry.sys.domain.Group" useGeneratedKeys="true" keyProperty="id">
    insert into sys_group (group_name, viewname,
      is_deleted, cruser, crtime)
    values (#{groupName,jdbcType=VARCHAR}, #{viewname,jdbcType=VARCHAR},
      0, #{cruser,jdbcType=VARCHAR}, #{crtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.jrry.sys.domain.Group">
    update sys_group
    set
      viewname = #{viewname,jdbcType=VARCHAR},
      mduser = #{mduser,jdbcType=VARCHAR},
      mdtime = #{mdtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="selectColumns"/>
    from sys_group
    where is_deleted = 0 AND id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="selectColumns"/>
    from sys_group
    WHERE is_deleted = 0
  </select>


  <sql id="selectColumns">
    id, group_name, viewname
  </sql>
  <sql id="selectWhereCondition">
    <where>
      is_deleted = 0
      <if test="groupName != null and groupName != ''">
        <bind name="groupName" value="'%' + groupName + '%'"/>
        and group_name LIKE #{groupName,jdbcType=VARCHAR}
      </if>
      <if test="viewname != null and viewname != ''">
        <bind name="viewname" value="'%' + viewname + '%'"/>
        and viewname LIKE #{viewname,jdbcType=VARCHAR}
      </if>
      <if test="exclusiveGroupNames != null and exclusiveGroupNames.size > 0">
        <foreach collection="exclusiveGroupNames" open="and (" close=")" item="groupName" separator="and">
          group_name != #{groupName}
        </foreach>
      </if>

    </where>
  </sql>

  <update id="removeByPrimaryKey" parameterType="cn.jrry.sys.domain.Group">
    update sys_group
    set
    is_deleted = 1,
    mduser = #{mduser,jdbcType=VARCHAR},
    mdtime = #{mdtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="count" resultType="int">
    select
    COUNT(1)
    from sys_group
    <include refid="selectWhereCondition"/>
  </select>
  <select id="select" resultMap="BaseResultMap">
    select
    <include refid="selectColumns"/>
    from sys_group
    <include refid="selectWhereCondition"/>
    ORDER BY ${sort} ${order}
    limit ${offset},${rows}
  </select>

</mapper>