<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jrry.sys.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="cn.jrry.sys.domain.Role">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="viewname" jdbcType="VARCHAR" property="viewname" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="cruser" jdbcType="VARCHAR" property="cruser" />
    <result column="crtime" jdbcType="TIMESTAMP" property="crtime" />
    <result column="mduser" jdbcType="VARCHAR" property="mduser" />
    <result column="mdtime" jdbcType="TIMESTAMP" property="mdtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.jrry.sys.domain.Role" useGeneratedKeys="true" keyProperty="id">
    insert into sys_role (role_name, viewname,
      is_deleted, cruser, crtime)
    values (#{roleName,jdbcType=VARCHAR}, #{viewname,jdbcType=VARCHAR},
      0, #{cruser,jdbcType=VARCHAR}, #{crtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.jrry.sys.domain.Role">
    update sys_role
    set viewname = #{viewname,jdbcType=VARCHAR},
      mduser = #{mduser,jdbcType=VARCHAR},
      mdtime = #{mdtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="selectColumns"/>
    from sys_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="selectColumns"/>
    from sys_role
  </select>


  <sql id="selectColumns">
    id, role_name, viewname
  </sql>
  <sql id="selectWhereCondition">
    <where>
      is_deleted = 0
      <if test="roleName != null and roleName != ''">
        <bind name="roleName" value="'%' + roleName + '%'"/>
        and role_name LIKE #{roleName,jdbcType=VARCHAR}
      </if>
      <if test="viewname != null and viewname != ''">
        <bind name="viewname" value="'%' + viewname + '%'"/>
        and viewname LIKE #{viewname,jdbcType=VARCHAR}
      </if>
      <if test="exclusiveRoleNames != null and exclusiveRoleNames.size > 0">
        <foreach collection="exclusiveRoleNames" open="and (" close=")" item="roleName" separator="and">
          role_name != #{roleName}
        </foreach>
      </if>
    </where>
  </sql>
  <update id="removeByPrimaryKey" parameterType="cn.jrry.sys.domain.Role">
    update sys_role
    set
    is_deleted = 1,
    mduser = #{mduser,jdbcType=VARCHAR},
    mdtime = #{mdtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="count" resultType="int">
    select
    COUNT(1)
    from sys_role
    <include refid="selectWhereCondition"/>
  </select>
  <select id="select" resultMap="BaseResultMap">
    select
    <include refid="selectColumns"/>
    from sys_role
    <include refid="selectWhereCondition"/>
    ORDER BY ${sort} ${order}
    limit ${offset},${rows}
  </select>

</mapper>